@import "tailwindcss";

/* Use Tailwind utility classes directly in your HTML elements' class attributes instead */

/* Removes default password reveal icon on Microsoft Edge */
input::-ms-reveal {
  display: none;
}

/* Removes Chrome's eye icon for password fields */
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}